<%- include ../layouts/cabecera.ejs %> 
<br/>
<br/>
<br/>
<br/>
<h2>Seguimiento de productos vendidos</h2>
<form method="post" action="/carritos/actualizarEstado">
    <div class="form-group">
        <label for="my-input">Id Cliente: </label>
        <input id="my-input" class="form-control" type="text" name="id_cliente" value="<%= articulo[0].id_comprador %> " disabled>
        <input id="my-input" class="form-control" type="hidden" name="id_cliente" value="<%= articulo[0].id_comprador %> " >
    </div>


    <div class="form-group">
        <label for="my-input">Correo: </label>
        <input id="my-input" class="form-control" type="text" name="correo" value="<%= correo %> " disabled>
        <input id="my-input" class="form-control" type="hidden" name="correo" value="<%= correo %> " >
    </div>

    <div class="form-group">
        <label for="my-input">Direccion: </label>
        <input id="my-input" class="form-control" type="text" name="direccion" value="<%= articulo[0].direccionComprador %> " disabled >
        <input id="my-input" class="form-control" type="hidden" name="direccion" value="<%= articulo[0].direccionComprador %> " >
    </div>
    <div class="form-group">
        <label for="my-input">Estado Actual: </label>
        <input id="my-input" class="form-control" type="text" value="<%= articulo[0].estado %> " disabled>
    </div>

    <div class="form-group">
        <label for="my-input">Estados Seguimiento: </label>
        <br>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="estado">
            <option value="Pendiente" selected>Pendiente</option>
            <option value="Enviado">Enviado</option>
            <option value="En Almacen de destino">En almacen de destino</option>
            <option value="Entregado">Entregado</option>
          </select>
    </div>
    <div class="form-group">
        <input id="my-input" class="form-control" type="hidden" name="id_seguimiento" value="<%= id_seguimiento %> " >
    </div>

    <button class="btn btn-primary" type="submit">Actualizar Estado</button>
    <br>
    <br>
    <br>
</form>
<%- include ../layouts/pie.ejs %>  