<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> 
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  <link rel="icon" href="/images/CS2.png">
    <title>CleanSkin</title>
</head>
<body>
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/carritos/">
      <img src="/images/CS2.png" width="40px">  Clean Skin</a>
    <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/carritos/jabones">Jabones</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/carritos/serums">Serums</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/carritos/cremas">Cremas</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/carritos/ofertas">Ofertas</a>
      </li>
        
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Mi cuenta
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users/loginComprador">Cerrar Sesion</a></li>
            <li><a class="dropdown-item" href="/carritos/vistaSeguimientoC">Mis pedidos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <form action="/carritos/cart/<%= comprador %>" method="get" >
            <button type="submit" style="background-color: transparent; cursor:pointer; border:transparent;"><img src="/images/carrito.png" width="30px" alt=""></button>
          </form>
      </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>

  <div class="dropdown mr-1">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-offset="10,20" style="background-color: transparent; cursor:pointer; border:transparent; color: black;">
      Filtros
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/carritos/menorPrecioCatalogo">Menor a mayor precio</a>
      <a class="dropdown-item" href="/carritos/mayorPrecioCatalogo">Mayor a menor precio</a>
    </div>
    </div>
 
  <br>
<div class="container" style="width:400px" >
  <h2 style="text-align: center;">Catalogo Productos</h2>
  <br>
  <h5 style="text-align: center; color: red;"><%= alert %> </h5>
</div>
<br>

<br>
<div class="row mx-5">
<br>
  <% for( let producto = 0; producto < productos.length; producto++ ) { %>

     <div class="col">
      
    <div class="card" style="width:18rem">
      <img style="height: 300px;" src="/images/<%=productos[producto].imagen %>" class="card-img-top" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=productos[producto].nombre %></h5>
        <p class="card-text">Categoria: <%=productos[producto].categoria %></p>
        <p class="card-text"><%=productos[producto].descripcion %></p>
        <p class="card-text">$<%=productos[producto].precio %></p>
        <form name="formulario" method="post" action="/carritos/">
          <input type="hidden" value="<%=productos[producto].id_producto%>" name="id_producto">
          <input type="hidden" value="<%=productos[producto].nombre %>" name="nombre">
          <input type="hidden" value="<%=productos[producto].precio %>" name="precio">
          <input type="hidden" value="<%=productos[producto].stock %>" name="stock">
          <label for="my-input">Cantidad: </label>
          <select class="form-control" name="cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>  
          </select>
          <input type="hidden" value="<%=comprador%>" name="id_comprador" id="id_comprador">
          <input type="hidden" value="<%=productos[producto].id_vendedor%>" name="id_vendedor" id="id_vendedor">
          <br>
          <button class="btn btn-primary" type="submit">Comprar</button>
        </form>
      </div>
    </div>
<br>
  </div>

  
  <% } %>
</div>
  <br>
<%- include ../layouts/pie.ejs %>   