<%- include ../layouts/cabeceraProductos.ejs %> 
<br/>
<br><br>
<div class="dropdown mr-1">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-offset="10,20" style="background-color: transparent; cursor:pointer; border:transparent; color: black;">
    Filtros
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/carritos/menorPrecioSerums">Menor a mayor precio</a>
    <a class="dropdown-item" href="/carritos/mayorPrecioSerums">Mayor a menor precio</a>
  </div>
  </div>

<br>
<h2 style="text-align: center;">Seccion de Serums</h2>
<br>
  <h5 style="text-align: center; color: red;"><%= alert %> </h5>
    
<div class="row mx-5">
    <% for( let product = 0; product < products.length; product++ ) { %>
    <div class="col">
      <br>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" style="height: 300px;" src="/images/<%=products[product].imagen %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=products[product].nombre %></h5>
            <p class="card-text">Categoria: <%=products[product].categoria %></p>
            <p class="card-text"><%=products[product].descripcion %></p>
            <p class="card-text">$<%=products[product].precio %></p>
            <form name="formulario" method="post" action="/carritos/serums">
              <input type="hidden" value="<%=products[product].id_producto%>" name="id_producto">
              <input type="hidden" value="<%=products[product].nombre %>" name="nombre">
              <input type="hidden" value="<%=products[product].precio %>" name="precio">
              <input type="hidden" value="<%=products[product].stock %>" name="stock">
              <label for="my-input">Cantidad: </label>
              <select class="form-control" name="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
              <input type="hidden" value="<%=comprador%>" name="id_comprador" id="id_comprador">
              <input type="hidden" value="<%=products[product].id_vendedor%>" name="id_vendedor" id="id_vendedor">
              <br>
              <button class="btn btn-primary" type="submit">Comprar</button>
    
            </form>
          </div>
        </div>
    </div>
    <% } %>
</div>


  

<%- include ../layouts/pie.ejs %>   