<%- include ../layouts/cabecera.ejs %> 
<br/>
<br/>
<br/>
<br/>
<h2>Seguimiento de productos vendidos</h2>
<br/>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>ID Producto</th>
            <th>Correo cliente</th>
            <th>Direccion cliente</th>
            <th>Estado del envio</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <% for( let product = 0; product < ventas.length; product++ ) { %>
            <tr>
                <td><%= product+1 %> </td>
                <td><%= ventas[product].id_producto %> </td>
                <td><%= correo %> </td>
                <td><%= ventas[product].direccionComprador %></td>
                <td><%= ventas[product].estado %></td>
                <td> <a href="/carritos/actualizarEstado" class="btn btn-warning" type="button">Editar estado</a></td>
                <td><form class="form-inline" method="get" action="/carritos/actualizarEstado/<%= ventas[product].id_seguimiento %> ">
                    <button class="btn btn-warning" type="submit">Editar</button>
                </form></td>
            </tr>
            <% } %>
    </tbody>
</table>
<br/>
<br/>
<br/>
<%- include ../layouts/pie.ejs %>  